{% extends 'navbar.html' %}

{% block title %}Shipment for Order {{ shipment.order.id }}{% endblock %}

{% block content %}
    <br>
    <br>

    <div class=" container card animate__animated animate__fadeIn animate__delay-1s" style="">
       <div  style="margin-left:36%; font-family:  'Bahnschrift';">
        <h1 class="mt-4" style="font-family: monospace"; >Check_id #{{ shipment.order.id }}</h1>
        <p>Thanks for choosing our service. Mr {{ username }}</p>
        <p>Address: {{ shipment.address }}</p>
        <p>Phone Number: {{ shipment.phone_number }}</p>
        <p>Shipped Date: {% if shipment.shipped_date %}{{ shipment.shipped_date }}{% else %}Around 15 minutes{% endif %}</p>

        {% for item in order.orderitem_set.all %}
            <p>Foods: {{ item.food.name }}</p>

        {% endfor %}

        <p>Overall Price: ${{ overall_price }}</p>
        <p>Overall Foods: {{ order1 }}</p>
    </div>
    </div>
    </div>

    <script>
        // You can customize the animations further or add more based on your needs
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.animate__animated').classList.add('animate__fadeIn', 'animate__delay-1s');
        });
    </script>
{% endblock %}
